.modal {
	position: fixed;
	z-index: 99999;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	overflow: auto;
	background-color: #dae0e5;
	border: 3px solid #203c12;
	opacity: 1;
	color: #000;
	border-radius: 1rem;

	&Header {
		height: 15%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		display: flex;
		justify-content: space-between;

		&Text {
			margin-left: 1vw;
		}
	}

	&Body {
		display: flex;
		justify-content: space-between;
		height: 70%;
	}

	&Footer {
		width: 100%;
		height: 15%;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		position: absolute;
		display: flex;
		justify-content: right;

		&Btn {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 1.5vw;
			width: 7vw;
			height: 4vh;
		}
	}

	&Container {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		background: rgba(0, 0, 0, 0.96);
		z-index: 99998;
	}

	&Icon {
		width: 2vw;
		height: 2vh;
	}
}

.open {
	display: block;
}

.closed {
	display: none;
}
