// .app {
// 	height: 100vh;
// 	font-size: x-large;
// 	margin: 0;
// }

.title {
	margin: 10vh 2vw auto 2vw;
	color: #fff;
}

.pre__container {
	position: sticky;
	display: flex;
	justify-content: space-between;
	top: 8vh;
	width: 100%;
	background-color: forestgreen;
}

.search {
	z-index: 2;
	position: fixed;
	top: 2.5vh;
	right: 30vw;

	&__input {
		position: fixed;
		top: 3.1vh;
		right: 18.5vw;
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	div {
		justify-self: center;
	}
}

.products {
	display: flex;
}

.fixed {
	position: fixed;
}
