// .app {
// 	height: 100vh;
// 	font-size: x-large;
// 	margin: 0;
// }

.title {
  margin: 10vh 2vw auto 2vw;
  color: #fff;
}

.pre__container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 8vh;
  width: 100%;
  background-color: forestgreen;
}

.search {
  z-index: 2;
  position: fixed;
  top: 2.5vh;
  right: 30vw;

  &__input {
    position: fixed;
    top: 3.1vh;
    right: 18.5vw;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  div {
    justify-self: center;
  }
}

.products {
  display: flex;
}

.fixed {
  position: fixed;
}

.beerContainer {
  max-width: fit-content;
  margin: 10vh auto;
  padding: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  height: fit-content;

  .imageColumn {
    margin: 10 vh 2vw auto 2vw;
    position: relative;

    .beerImage {
      height: auto;
      width: 20vw;
      margin: 10 vh 2vw auto 2vw;
    }
  }

  .textColumn {
    width: fit-content;
    margin-left: 1rem;

    .beerDescription {
      & h1 {
        font-weight: 700;
        font-size: 36px;
        color: #000;
        border-bottom: #000 solid 0.1rem;
        margin-bottom: 2rem;
      }

      & h2 {
        font-weight: 700;
        font-size: 28px;
        color: #000;
        border-bottom: #000 solid 0.1rem;
        margin-bottom: 1rem;
      }

      & h4 {
        font-size: 20px;
        font-weight: 700;
        color: #000;
        border-bottom: #000 solid 0.1rem;
        margin-bottom: 1rem;
      }

      & p {
        font-size: 20px;
        font-weight: 300;
        color: #000;
        border-bottom: #000 solid 0.1rem;
      }
    }
  }
}
