.loginWithButton {
	margin: 0.5rem;
	padding: 0.2rem;
	background-color: #ffffff;
}

.authIcon {
	width: auto;
	height: 3vh;
	margin: 0.5rem;
}

.facebook {
	color: #3b5998;
}

.google {
	color: #ffffff;
}

.github {
	color: #000000;
}

.discord {
	color: #7289d9;
}

.justifiedText {
	margin-left: 5vw;
	margin-right: auto;
}
