.navbar {
	height: 8vh;
	width: 100vw;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background-color: darkcyan;

	&__container {
		margin-bottom: 8vh;
	}
}

.img {
	margin: 0.5vh 2vw auto 0.5vw;

	&:hover {
		cursor: pointer;
	}
}

.ghost {
	display: inline-block;
	color: #fff;
	border-radius: 0.5rem;
	padding-left: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-right: 1vw;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.5vw;
	outline: none;
	text-decoration: none;
	transition: 1s;

	&Content {
		display: flex;
	}

	&:hover {
		color: black;
		background-color: rgba(255, 255, 255, 0.8);
	}
}
