.footer {
	padding-top: 0.5vh;
	border-top: 1px solid lightgray;
	width: 100%;
}

.logo {
	margin-top: 3vh;
	margin-left: 2vw;
}

.item {
	&:not(:last-child) {
		margin-bottom: 0.5vh;
	}

	&__header {
		font-weight: 600;
	}

	&__menu__container {
		text-align: center;
		position: relative;
		display: block;
	}

	&__menu__list {
		display: flex;
	}

	&__menu {
		width: 16vw;
		margin-right: auto;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	&__menu__items {
		text-align: left;
		list-style-type: none;
	}
}

.link {
	color: black;
	text-decoration: none;
}

.fb__logo {
	margin-right: 0.5vw;
	padding-top: 0.5vh;
}

.fb__text {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.5vh;
}
