.dropdown {
  position: relative;
  display: inline-block;
}

.input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0.4vh 0.6vw 0.4vh 0.6vw;
  border: none;
  border-bottom: 1px solid #ddd;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 10vw;
  border: 1px solid #ddd;
  z-index: 1;

  a {
    color: black;
    padding: 0.4vh 0.5vw;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1
    }
  }
}

.show {
  display:block;
}