name: Full Frontend Build, Format, and Test

on:
  pull_request:
    paths:
      - "frontend/**"
    branches:
      - main
      - 'feature/**'
      - 'ITM-*'

defaults:
  run:
    working-directory: frontend

env:
  node-version: 18.x

jobs:
  build:
    name: Full build validation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3.2.0
        with:
          node-version: ${{ env.node-version }}

      - run: npm ci

      - run: npm run build